/* Global */

body {
    background-color: #eeeeee;
    color: #222831;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1, h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
}

a {
    color: #00adb5;
    text-decoration: none;
    ;
}

a:hover {
    text-decoration: underline;
}

/* Profile Section */

.profile {
    text-align: left;
    padding: 10px 40px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
}

.profile-pic {
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

.profile header {
    text-align: center;
}

.profile h1 {
    margin-bottom: 0px;
}

.profile>p>span {
    display: block;
    font-size: 8px;
}

.tagline {
    color: #393e46;
    margin-top: 0px;
}

.bio {
    line-height: 26px;
}

.languages {
    align-self: flex-start;
}

.follow {
    background-color: #00adb5;
    color: #eeeeee;
    padding: 8px;
    border: none;
    font-size: 14px;
    font-weight: 800;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

button:hover {
    background-color: #00858b;
}

.followed {
    background-color: #00b570;
}

.followed:hover {
    background-color: #00b570;
}

.profile-icons {
    display: flex;
    margin-top: 25px;
    width: 100%;
    justify-content: space-around;
}

.profile-icon {
    width: 25px;
}

/* Projects Section */

.posted-projects {
    padding: 20px;
    background-color: #f3f3f3;
}

.posted-projects>header>h2 {
    text-align: center;
    margin-top: 0px;
}

.post {
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 800px;
}

.project-pic {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-links {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #eeeeee;
}

.project-links>a {
    width: 50%;
    height: 100%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

.live-link {
    border-right: 1px solid #eeeeee;
}

.description {
    padding: 15px;
}

.username {
    font-weight: 800;
}

.hashtags {
    display: flex;
    margin-top: 25px;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
}

.hashtag {
    background-color: #393e46;
    color: #eeeeee;
    padding: 7px;
    border-radius: 5px;
}

.hashtag::before {
    content: "#";
}

footer {
    width: 100%;
    position: relative;
    padding: 10px;
    bottom: 0;
    left: 0;
    background-color: #222831;
    color: #eeeeee;
    display: flex;
    justify-content: center;
}

.emoji {
    font-size: 20px;
}

@media (min-width: 900px) {
    .profile {
        max-width: 700px;
    }
}